<div class="folder">
  <form [formGroup]="folderform" class="form-style" >
  <div class="mt-5">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" formControlName="ftitle"  class="form-control" placeholder="Title"> 
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Description</label>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" formControlName="fcomment" class="form-control" placeholder="Comment"> 
          </div>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="col-md-6">
          <button type="button" class="btn"(click)="addItem()">Add Note</button>&nbsp;
         
        </div>
      </div>
    </div>
  </div>
  
  </form>
  <div class="note-collection">
    <table class="table table-bordered">
      <thead>
        <tr>
       
        </tr>
      </thead>
      <tbody class="final-form">
        <tr *ngFor="let item of listData">
          <div class="saved-note">Title</div>
          <div class="saved-output">{{item.ftitle}}</div>
          <div class="saved-note">Comment</div>
          <div class="saved-output">{{item.fcomment}}</div>
         <button type="button" class="btnd" (click)="removeItem(item)">Remove</button>
         
        </tr>
      </tbody>
    </table>
  </div>
</div>